@import url(https://fonts.googleapis.com/css?family=Voltaire);
head{
	display: none;
	
}
 header{
 	font-size: 40px;
 	background-color:#C5253F;
 }

body{

     text-align: right;
     width: 50%;
     
     font-size: 25px;
     font-family:'Voltaire', sans-serif;
     padding: 20px;
     background-color:#AEF6F5;
}

.page-wrapper{
     width: 760px;
      text-align: center;
  }
#zen-preamble{
  display: block;;
     background-color: #607F8B;
}
#zen-supporting {
     float: left;
     
     display: block;;
     background-color: #E5D8AA;
}
#zen-summary{
	display: block;
    font-family:monospace;
    background-color: #DBE4DE;
    margin: 70px;
    margin-top: -60px;
	}
	a:hover, a:focus, a:active { 
    text-decoration: underline; italic; 
    color: red ;

	h1{
		font-family:impact;
		text-align: left;
		color: #092E3C;
	}
	h2{

		text-align: left;
		color: #092E3C;
		margin-top: -30px;
	}
	h3{
    color:#51059D ;
    text-align: center;
    background-color: #E0A905 ;
    font-family: century;
}
p{
    color: black;
    margin:0 auto;
    font-family: monospace;
    text-align: center;
    margin-top: 0;
    width: 350px;
    
}

abbr {
    border-bottom: none;
    }